h1 {
  color: red;
}

li {
  list-style: none;
}

/* .sub-container {
  display: flex;
  flex-direction: column;
} */

/* Class selector */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Id selector */

#submit {
  display: inline;
}
